@import "../../../node_modules/kio-ng2-uiux/scss/utils";

lightbox-link {
    position: relative;

    display: block;    
}

.lightbox-link {
    position: relative;

    display: block;

    cursor: pointer;

    :host /deep/ & .ui-button {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;

        display: none;

        transform: translate(-50%, -50%);
    }

    &:hover,
    &:focus {

        :host /deep/ & .ui-button {
            display: block;
        }

        &:before {
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            content: "";

            background: rgba(255,255,255,0.6);
        }
    }
}
