<div class="lightbox" [ngClass]="{'open': (lightboxState === 1), 'supports-object-fit' : supportsObjectFit, 'supports-no-object-fit' : !supportsObjectFit}">

    <div class="lightbox__background">

        <div class="lightbox__container" *ngIf="!!item">

            <a class="lightbox__close" href="#closeme" (click)="close($event)">
                <ui-button [icon]="'close'"></ui-button>
            </a>

            <!-- <h3>{{ group.name }}</h3> -->

            <div class="lightbox__content" #content>

                <div class="lightbox__item" #lightboxItem *ngIf="item">

                    <lightbox-item
                        [imageNode]="item.lightboxImageNode"
                        [textNode]="item.lightboxTextNode"
                        [metaNode]="item.lightboxMetaNode" >
                    </lightbox-item>

                </div>

            </div>

        </div>

    </div>

</div>
